<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Sporty Shoes</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <br>
    <div class="container" style="text-align:right">
        <a th:href="@{/changePassword}" class="btn btn-secondary btn-sm mb-3">Change Password</a>
        <a th:href="@{/logout}" class="btn btn-dark btn-sm mb-3">Logout</a>
    </div>
    <br>
</head>
<body>
<div class="container">
    <span>Sporty Shoes</span>
    <h1>Admin Manage Portal</h1>
</div>
<br>
<div class="container" style="text-align:left">
    <a th:href="@{/manageProducts}" class="btn btn-success btn-sm mb-3">Manage Products</a>
    <a th:href="@{/checkPurchaseReports}" class="btn btn-success btn-sm mb-3">Check Reports</a>
</div>
<br>
<br>
<div class="container" style="text-align:center">

</div>
</body>

</html>