<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sporty Shoes</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<br>
<br>
<br>
<div class="container">
    <span>Welcome Sporty Shoes </span>
    <h1>Admin Landing Page</h1>
</div>
<div class="container" style="text-align:right">
    <a th:href="@{/login}" class="btn btn-success btn-sm mb-3">Admin login</a>
</div>


</body>
</html>